



@{
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <a href="@Url.PageLink()"> english</a>

    <a href="@Url.PageLink()?Culture=ar-Eg"> arabic  </a>


    <div>
        Hi from @AppLng["test"]  and  @AppLng["test1"]
    </div>
    <div>
        @RenderBody()
    </div>



    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</body>
</html>
