
@using ProjectBackEndDemo.Resource
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> AppLng
@{
    ViewData["Title"] = AppLng["Diseases"];
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ProjectBackEndDemo.Areas.Diseases.Models.DieseaseVM>

<link href="~/css/viewdiseases.css" rel="stylesheet" />
@if (Culuture == "ar-EG")
{

    <link href="~/css/viewdiseases-ar.css" rel="stylesheet" />
}




<div class="disease-section">
    <h3 class="heading">@AppLng["Diseases"]</h3>
    <div class="container">
        <form asp-action="Search" asp-controller="Disease" asp-area="Diseases" method="get">
            <input type="search" name="search" id="" placeholder="@AppLng["What do you want to search?"]" required />
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
                @AppLng["Search"]
            </button>
        </form>
        @foreach (var item in Model)
        {
            <div class="disease-box">
                <h4 class="disease-name">@item.Name</h4>
                <div class="disease-info">
                    <div class="info-box name-box">
                        <div class="info-title">
                            <h5>@AppLng["Disease Name"]</h5>
                        </div>
                        <div class="info-value">
                            <span>@item.Name</span>
                        </div>
                    </div>
                    <div class="info-box pet-box">
                        <div class="info-title">
                            <h5>@AppLng["Disease Pet"]</h5>
                        </div>
                        <div class="info-value">
                            <span>@item.AnimalName</span>
                        </div>
                    </div>
                    <div class="info-box infect-box">
                        <div class="info-title">
                            <h5>@AppLng["Disease Infection"]</h5>
                        </div>
                        <div class="info-value">
                            <span>@item.IsInfect</span>
                        </div>
                    </div>
                    <div class="info-box medicine-box">
                        <div class="info-title">
                            <h5>@AppLng["Disease Medicines"] </h5>
                        </div>
                        <div class="info-value">
                            <ul>
                                @foreach (var (i, e) in item.MedicineIds.Zip(item.MedicineNames))
                                {
                                    <li>@e  <a asp-area="Diseases" asp-controller="Disease" asp-action="ViewMedicine" asp-route-id="@i">@AppLng["View Medicine"]</a></li>

                                }

                            </ul>
                        </div>
                    </div>
                    <div class="info-box symptom-box">
                        <div class="info-title">
                            <h5> @AppLng["Disease Symptoms"] </h5>
                        </div>
                        <div class="info-value">
                            <ul>
                                @foreach (var (i, e) in item.SymptomIds.Zip(item.SymptomNames))
                                {
                                    <li>@e <a asp-area="Diseases" asp-controller="Disease" asp-action="Viewsymptom" asp-route-id="@i">@AppLng["View Symptom"]</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                   
                </div>
            </div>
        }



    </div>
    <span class="disease-link more">
        <span>@AppLng["View More"]</span>
        <i class="fa-solid fa-angles-down"></i>
    </span>
</div>



<script src="/js/jquery-3.6.0.min.js"></script>
<script src="~/js/viewdiseases.js"></script>