

@using ProjectBackEndDemo.Resource
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> AppLng
@{
    ViewData["Title"] = @AppLng["Medicines"];
    Layout = "~/Views/Layouts/MainLayout.cshtml";
    var Culuture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;

}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ProjectBackEndDemo.Areas.Diseases.Models.MedicineVM>



<link href="~/css/viewmedicines.css" rel="stylesheet" />
@if (Culuture == "ar-EG")
{

    <link href="~/css/viewmedicines-ar.css" rel="stylesheet" />
}


<div class="medicine-section">
    <h3 class="heading">@AppLng["Medicines"]</h3>
    <div class="container">
        <form asp-action="SearchMedicines" asp-controller="Disease" asp-area="Diseases" method="get">
            <input type="search" name="search" id="" placeholder="@AppLng["What do you want to search?"]" required />
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
                @AppLng["Search"]
            </button>
        </form>
        @foreach (var item in Model)
        {
            <div class="medicine-box">
                <h4 class="medicine-name">@AppLng["Medicine Name"]</h4>
                <div class="medicine-info">
                    <div class="info-box name-box">
                        <div class="info-title">
                            <h5> @AppLng["Medicine Name"] </h5>
                        </div>
                        <div class="info-value">
                            <span>@item.Name</span>
                        </div>
                    </div>
                    <div class="info-box effect-box">
                        <div class="info-title">
                            <h5> @AppLng["Medicine Side Effect"] </h5>
                        </div>
                        <div class="info-value">
                            <span>@item.HasSideEffect</span>
                        </div>
                    </div>
                    <div class="info-box temp-box">
                        <div class="info-title">
                            <h5>@AppLng["Medicine Temperature"]</h5>
                        </div>
                        <div class="info-value">
                            <span>@item.Temperature</span>
                        </div>
                    </div>
                    <div class="info-box expirty-box">
                        <div class="info-title">
                            <h5>@AppLng["Medicine Expirty"]</h5>
                        </div>
                        <div class="info-value">
                            <span>@item.Expirty</span>
                        </div>
                    </div>
                    <div class="info-box price-box">
                        <div class="info-title">
                            <h5>@AppLng["Medicine Price"]</h5>
                        </div>
                        <div class="info-value">
                            <span>@item.Price $</span>
                        </div>
                    </div>
                    <div class="info-box disease-box">
                        <div class="info-title">
                            <h5>@AppLng["Medicine Diseases"]</h5>
                        </div>
                        <div class="info-value">
                            <ul>
                                @foreach (var (i, e) in item.DieasesIds.Zip(item.DieasesNames))
                                {
                                    <li>@e <a asp-area="Diseases" asp-controller="Disease" asp-action="ViewDisease" asp-route-id="@i">@AppLng["View Disease"]</a></li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
    <span class="medicine-link more">
        <span>@AppLng["View More"]</span>
        <i class="fa-solid fa-angles-down"></i>
    </span>
</div>





<script src="/js/jquery-3.6.0.min.js"></script>
<script src="~/js/viewmedicines.js"></script>