
@{
    ViewData["Title"] = "ViewMedicines";
    Layout = "~/Views/Layouts/MainLayout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<ProjectBackEndDemo.Areas.Diseases.Models.MedicineVM>

<div classs="Container">

    <form asp-action="SearchMedicines" asp-controller="Disease" asp-area="Diseases" method="get">
        <input id="search" name="search" type="search" placeholder="Search Medicines " />
        <input type="submit" hidden />
    </form>

    <h1> View Medicines </h1>
    @foreach (var item in Model)
    {
        <span class="text-primary"> @item.Name  </span> <br />
        <span class="text-primary"> @item.Price  </span> <br />
        <span class="text-primary"> @item.Temperature  </span> <br />
        <span class="text-primary"> @item.HasSideEffect  </span> <br />

        <ul class="list-group">
            @foreach (var (x, y) in @item.DieasesNames.Zip(item.DieasesIds))
            {
                <li class="list-group-item">

                    <a asp-area="Diseases" asp-controller="Disease" asp-action="ViewDisease" asp-route-id="@y">@x</a>


                </li>

            }
        </ul>

        <br />





    }


</div>
